{% extends "/captain/layout.html" %}
{%block css%} 

    <style>

	</style>
{%endblock%}
{% block content %}
    <div class="app-content container center-layout mt-2">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">商品設置</h3><!--
            <div class="row breadcrumbs-top">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Users</a>
                  </li>
                  <li class="breadcrumb-item active">Account setting
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <div class="media width-250 float-right">
              <div class="media-left media-middle">
                <div id="sp-bar-total-sales"></div>
              </div>
              <div class="media-body media-right text-right">
                <h3 class="m-0">$5,668</h3><span class="text-muted">Sales</span>
              </div>
            </div>-->
          </div>
        </div>
        <div class="content-body">
		<!-- account setting page start -->
			<div class="card-content">
				<div class="card">
				<div class="card-body" style="min-height:400px;">
					<ul class="nav nav-tabs nav-topline" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="baseinfo-tab" data-toggle="tab" href="#basic" aria-controls="basic" role="tab" aria-selected="true">基本資料</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" id="attribute-tab" data-toggle="tab" href="#attribute" aria-controls="attribute" role="tab" aria-selected="false">屬性</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true">
							分類
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="category-tab" href="#category" data-toggle="tab" aria-controls="category" role="tab" aria-selected="true">主分類</a>
								<a class="dropdown-item" id="subcategory-tab" href="#subcategory" data-toggle="tab" aria-controls="subcategory" role="tab" aria-selected="true">雜項分類</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="price-tab" data-toggle="tab" href="#price" aria-controls="price" role="tab" aria-selected="false">價格</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="image-tab" data-toggle="tab" href="#image" aria-controls="image" role="tab" aria-selected="false">圖片</a>
						</li>						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true">
							文章
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="htmlcontent-tab" href="#htmlcontent" data-toggle="tab" aria-controls="htmlcontent" role="tab" aria-selected="true">內容描述</a>
								<a class="dropdown-item" id="htmlspec-tab" href="#htmlspec" data-toggle="tab" aria-controls="htmlspec" role="tab" aria-selected="true">規格描述</a>
								<a class="dropdown-item" id="htmlinfo-tab" href="#htmlinfo" data-toggle="tab" aria-controls="htmlinfo" role="tab" aria-selected="true">其它資訊</a>
								<a class="dropdown-item" id="htmlreturn-tab" href="#htmlreturn" data-toggle="tab" aria-controls="htmlreturn" role="tab" aria-selected="true">送貨退貨說明</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="active-tab" data-toggle="tab" href="#active" aria-controls="active" role="tab" aria-selected="false">上架</a>
						</li>
					</ul>
					<div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top">
						<div class="tab-pane" id="basic" aria-labelledby="basic" role="tabpanel">
							<form class="form">
							<div class="form-body">
								<h4 class="form-section"><i class="fa fa-eye"></i>主型號及名稱</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sku">主型號必須唯一, 不能含空格(SKU)</label>
											<input type="text" id="sku" class="form-control border-primary" placeholder="sku" name="sku">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="name">商品名唯一</label>
											<input type="text" id="name" class="form-control border-primary" placeholder="Name" name="name">
										</div>
									</div>
								</div>

								<h4 class="form-section"><i class="feather icon-mail"></i> 商品副標題</h4>

								<div class="form-group">
									<label for="description">商品副標題會顯示在搜尋頁說明欄, 字數勿超過100字</label>
									<textarea id="description" rows="5" class="form-control border-primary" name="description" placeholder="商品副標題"></textarea>
								</div>

							</div>

							<div class="form-actions right">
								<button type="reset" class="btn btn-warning mr-1">
									<i class="feather icon-x"></i> Cancel
								</button>
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-check-square-o"></i> Save
								</button>
							</div>
						</form>
						</div>
						<div class="tab-pane active in" id="attribute" aria-labelledby="attribute-tab" role="tabpanel">
                        <form class="form">
							<div class="form-body">
							<h4 class="form-section"><i class="fa fa-eye"></i>屬性設定項</h4>
                            <div class="container">
                              <div class="row col-12">
                                <div class="col-3">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">
                                        新增屬性
                                    </a>
                                    <a href="javascript:alert('ok')" class="list-group-item list-group-item-action">Size</a>
                                    <a href="#" class="list-group-item list-group-item-action">Color</a>
                                    <a href="#" class="list-group-item list-group-item-action">Gender</a>
                                </div>
                                </div>
                                <div class="col-9">
                                    <section id="basic-examples">
                                        <div class="row">
                                            <div class="col-12 mt-1 mb-1">
                                                <h4 class="text-uppercase">Basic Examples</h4>
                                                <p>Cards require a small amount of markup and classes to provide you with as much control as possible. These
                                                    classes and markup are flexible though and can typically be remixed and extended with ease. For example,
                                                    if your card has no flush content like images, feel free to put the <code>.card-body</code> class on the
                                                    <code>.card</code> element to consolidate your markup.</p>
                                            </div>
                                        </div>

                                        <div class="row match-height">
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <img class="card-img-top img-fluid" src="/captain/statics/images/carousel/06.jpg" alt="Card image cap">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Card title</h4>
                                                            <p class="card-text">gummies
                                                                jelly.</p>
                                                            <a href="#" class="btn btn-outline-amber">Go somewhere</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <img class="card-img img-fluid mb-1" src="/captain/statics/images/carousel/08.jpg" alt="Card image cap">
                                                            <h4 class="card-title">Card title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h4 class="card-title">細項名</h4>
                                                            <img class="card-img img-fluid mb-1" src="/captain/statics/images/carousel/10.jpg" alt="Card image cap">
                                                            <img  class="card-img img-fluid mb-1" id="currentPhoto" 
                                                            src="SomeImage.jpg" onerror="this.onerror=null; this.src='/captain/statics/images/carousel/10.jpg'" 
                                                            alt="" onclick="alert('OK');">
                                                            <div class="card-text">
                                                            <a href="#" class="card-link pink">Card link</a>
                                                            <a href="#" class="card-link pink">Another link</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h4 class="card-title">細項名</h4>
                                                            <img class="card-img img-fluid mb-1" src="/captain/statics/images/carousel/10.jpg" alt="Card image cap">
                                                            <img  class="card-img img-fluid mb-1" id="currentPhoto" 
                                                            src="SomeImage.jpg" onerror="this.onerror=null; this.src='/captain/statics/images/carousel/10.jpg'" 
                                                            alt="" onclick="alert('OK');">
                                                            <div class="card-text">
                                                            <a href="#" class="card-link pink">Card link</a>
                                                            <a href="#" class="card-link pink">Another link</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h4 class="card-title">細項名</h4>
                                                            <img class="card-img img-fluid mb-1" src="/captain/statics/images/carousel/10.jpg" alt="Card image cap">
                                                            <img  class="card-img img-fluid mb-1" id="currentPhoto" 
                                                            src="SomeImage.jpg" onerror="this.onerror=null; this.src='/captain/statics/images/carousel/10.jpg'" 
                                                            alt="" onclick="alert('OK');">
                                                            <div class="card-text">
                                                            <a href="#" class="card-link pink">Card link</a>
                                                            <a href="#" class="card-link pink">Another link</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>        
                                            <div class="col-xl-2 col-md-3 col-sm-6">
                                                <div class="card border-danger" style="">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Card title</h4>
                                                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                                                            <img class="img-fluid my-1" src="/captain/statics/images/carousel/09.jpg" alt="Card image cap">
                                                            <p class="card-text">Topping dessert marshmallow gummi bears chupa chups marzipan.</p>
                                                            <a href="#" class="card-link blue darken-2">Card link</a>
                                                            <a href="#" class="card-link blue darken-2">Another link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                              </div>
                            </div>
                           </div>
                        </form>
						</div>
						<div class="tab-pane" id="category" aria-labelledby="category-tab" role="tabpanel">
							<p>category tab</p>
						</div>
						<div class="tab-pane" id="subcategory" aria-labelledby="subcategory-tab" role="tabpanel">
							<p>subcategory tab</p>
						</div>
						<div class="tab-pane" id="price" aria-labelledby="price-tab" role="tabpanel">
							<p>price tab</p>
						</div>
						<div class="tab-pane" id="image" aria-labelledby="image-tab" role="tabpanel">
							<p>image tab</p>
						</div>
						<div class="tab-pane" id="htmlcontent" aria-labelledby="htmlcontent-tab" role="tabpanel">
							<p>htmlcontent tab</p>
						</div>
						<div class="tab-pane" id="htmlspec" aria-labelledby="htmlspec-tab" role="tabpanel">
							<p>htmlspec tab</p>
						</div>
						<div class="tab-pane" id="htmlinfo" aria-labelledby="htmlinfo-tab" role="tabpanel">
							<p>htmlinfo tab</p>
						</div>
						<div class="tab-pane" id="htmlreturn" aria-labelledby="htmlreturn-tab" role="tabpanel">
							<p>htmlreturn tab</p>
						</div>
						<div class="tab-pane" id="active" aria-labelledby="active-tab" role="tabpanel">
							<p>active tab</p>
						</div>                        
                        
                    </div>
				</div>
				</div>
			</div>
				
		</div>


		<!-- account setting page end -->
        </div>

    </div>


{% endblock %}    
{%block js%} 

<script>

var csrf_token = "{{csrf_token()}}";


$(window).on("load", function(){
  // Handler when all assets (including images) are loaded

});




</script>
{%endblock%}