{% extends "/captain/layout.html" %}
{%block css%} 
    <link rel="stylesheet" type="text/css" href="/captain/statics/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/captain/statics/css/pages/page-users.min.css">
    <style>

	</style>
{%endblock%}
{% block content %}
    <div class="app-content container center-layout mt-2">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
          
        </div>
        <div class="content-body">
        <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <form id="searchForm" class="search" method="POST" action="/captain/list/{{repo_name}}?page={{page}}&per_page={{per_page}}&sort={{sort or ''}}">
                        <div class="row border border-light rounded pt-1 mb-1 pl-1">
                        {%for item in search_form if not item.id=='csrf_token' -%}
					<div class="form-group row" style="margin-right:5px;">
               		  <div class="col col-sm-12 col-md-14 col-lg-15 col-xl-16">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">{{item.label.text}}</span>
							</div>
							{{item}}
						</div>
					  </div>
					</div>
                        {%endfor-%}
                        {{ search_form.csrf_token }}
					<div class="form-group row mr-1" style="width:55px;">
               		  <div class="col-md-9">
						<div class="input-group">
							<button type="button" class="btn btn-info"data-toggle="tooltip" name="btn_clear_filter" title="清空篩選條件" onclick="javascript:remove_filter();">
                            <i class="feather icon-slash" style ="font-size:20px;"></i></button>
						</div>
					  </div>
					</div>
					<div class="form-group row mr-1" style="width:55px;">
               		  <div class="col-md-9">
						<div class="input-group">
							<button type="submit" class="btn btn-info" name="btn_submit" data-toggle="tooltip" title="依篩選條件查詢">
                            <i class="feather icon-search" style ="font-size:20px;"></i></button>
						</div>
					  </div>
					</div>
                        </div>
                    </form>
                </div>
            </section>
        <!-- users list ends -->
        </div>
        <!-- Basic Tables start -->
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                
                <ul class="list-inline mb-0">
                    <li class="align-middle mr-1">
                    <h4 class="card-title"><span class="under_line-red">{{repo_title}}.列表</span>
                    </li>
                    <li class="align-middle">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-danger" onclick="javascript:delete_items();"
                          data-toggle="tooltip" title="刪除"><i class="feather icon-minus" style ="font-size:20px"></i></button>
                        </div>
                    </li>
                    <li class="align-middle">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-success" onclick="javascript:location.href='/captain/update/{{repo_name}}'"
                          data-toggle="tooltip" title="新增"><i class="feather icon-plus" style ="font-size:20px;"></i></button>
                        </div>
                    </li>
                </ul>    
                </h4>
  
                <div class="heading-elements">
                    <ul class="list-inline mb-0"><!--
                    <li class="align-middle">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-danger" onclick="javascript:delete_items();"
                          data-toggle="tooltip" title="刪除"><i class="feather icon-minus" style ="font-size:20px"></i></button>
                        </div>
                    </li>
                    <li class="align-middle">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-success" onclick="javascript:location.href='/captain/update/{{repo_name}}'"
                          data-toggle="tooltip" title="新增"><i class="feather icon-plus" style ="font-size:20px;"></i></button>
                        </div>
                    </li>-->
                    <li><h6><span class="mr-1 under_line-red">排序</span></h6></li>
                    <li>
                        <select class="form-control " id="sort_sel" >
                                <option value="">-排序方式選擇-</option>
                                <option value="updated" {%if sort=='updated'%}selected{%endif%}>依更新日</option>
                                <option value="created" {%if sort=='created'%}selected{%endif%}>依建立日</option>
                                <option value="updated_by" {%if sort=='updated_by'%}selected{%endif%}>依更新者</option>
                                <option value="created_by" {%if sort=='created_by'%}selected{%endif%}>依建立者</option>
                            </select>
                    </li>                    
                    <li><h6><span class="mx-1 under_line-red">筆數: {{count}}</span></h6></li>
                    <li>
                        <select class="form-control " id="per_page_sel" >
                                <option value="">-每頁筆數-</option>
                                <option value="5" {%if per_page|int ==5%}selected{%endif%}>每頁5筆</option>
                                <option value="10" {%if per_page|int==10%}selected{%endif%}>每頁10筆</option>
                                <option value="20" {%if per_page|int==20%}selected{%endif%}>每頁20筆</option>
                            </select>
                    </li>
                    </ul>
                </div>
            </div>
        <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">{{repo_desc}}</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input id="check_toggle" type="checkbox" value="" onclick="javascript:toggle_check();"> &nbsp;編輯功能</th>
                                {%for field in data.fields-%}
                                    <th>{{field}}</th>
                                {%endfor-%}
                                </tr>
                            </thead>
                            <tbody>
                                {%for row in data.rows-%}
                                    <tr>
                                    {%for val in row-%}
                                    <td scope="row">{{val|safe}}</td>
                                    {%endfor-%}
                                    </tr>
                                {%endfor-%}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>        
        <div class="row">
            <div class="col-lg-12 col-md-12">
            
                <nav aria-label="Page navigation mb-3">
                    <ul class="pagination justify-content-center">
                        {%if pagination.has_prev_jump -%}
                        <li class="page-item"><a href="javascript:gotopage(1)" class="page-link" href="#"><i class="feather icon-home"></i></a></li>
                        {%endif-%}
                        {%if pagination["has_prev_jump"] > 0 -%}
                        <li class="page-item"><a class="page-link"  href="javascript:gotopage({{pagination.prev_jump_num}})"><i class="feather icon-chevrons-left"></i></a></li>
                        {%endif-%}
                        {%if page|int > 1 -%}
                        <li class="page-item"><a class="page-link" href="javascript:gotopage({{page|int-1}})"><i class="feather icon-chevron-left"></i></a></li>
                        {%endif-%}
                        {% for p in pagination.iter_pages() -%}
                        {%if p ==page|int -%}
                        <li class="page-item active"><span class="page-link">{{p}}</span></li>
                        {%else%}
                        <li class="page-item"><a class="page-link" href="javascript:gotopage({{p}})">{{p}}</a></li>
                        {%endif-%}
                        {%endfor-%}
                        {%if page|int < pagination.pages -%}
                        <li class="page-item"><a class="page-link" href="javascript:gotopage({{page|int+1}})"><i class="feather icon-chevron-right"></i></a></li>
                        {%endif-%}
                        {%if pagination["has_next_jump"] > 0 -%}
                        <li class="page-item"><a class="page-link" href="javascript:gotopage({{pagination.next_jump_num}})"><i class="feather icon-chevrons-righ"></i></a></li>
                        {%endif-%}
                        {%if pagination.has_next_jump -%}
                        <li class="page-item"><a class="page-link" href="javascript:gotopage({{pagination.pages}})"><i class="feather icon-toggle-right"></i></a></li>
                        {%endif-%}
                    </ul>
				</nav>
            </div>
        </div>
    </div></div>
    </div>
    </div></div>

{% endblock %}    
{%block js%} 
    <script src="/captain/statics/vendors/js/tables/datatable/datatables.min.js"></script>
<script>

var csrf_token = "{{csrf_token()}}";
//console.log(csrf_token);

var per_page_sel = document.getElementById("per_page_sel")
var sort_sel = document.getElementById("sort_sel")
var per_page = {{per_page}} || 10

$(window).on("load", function(){
  // Handler when all assets (including images) are loaded
  sort_sel.addEventListener("change", function(){gotopage(1)});
  per_page_sel.addEventListener("change", function(){gotopage(1)});
});

function remove_filter() {
    var form = document.getElementById("searchForm")
    
    var not_filter = ['btn_clear_filter','btn_submit','csrf_token']
    for (var i = 0, iLen = form.length; i < iLen; i++) { 
        
        if (! not_filter.includes(form[i].name)) {
            form[i].value = '';
            }
        }
    gotopage(1)
}

function gotopage(page) {
    per_page = per_page_sel.value || 10
    sort = sort_sel.value 
    form = document.getElementById("searchForm")
    form.action = '/captain/list/{{repo_name}}?page='+page+'&per_page='+per_page+'&sort='+sort
    form.submit()
    
}

function toggle_check() {
	var x = document.querySelectorAll("input[type=checkbox][name=delete]");
	var me = document.getElementById("check_toggle")
	if (me.checked == true){
		for (i=0;i<x.length;i++) {
			x[i].checked = true;
			}
	  } else {
			for (i=0;i<x.length;i++) {
				x[i].checked = false;
			}
	  }
	}

function delete_items(item=null) {

    var x = document.querySelectorAll("input[type=checkbox][name=delete]:checked");
    //al.lpert(x.length);
    var delete_items = []
    if (item)
        delete_items.push(item)
    else
        x.forEach(element => delete_items.push(element.value));
        
    if (delete_items.length ==0) return null
    
    var formData = new FormData();
    formData.append('id', JSON.stringify(delete_items));
    formData.append('csrf_token',csrf_token);
    ajax("/captain/delete/{{repo_name}}", "POST",formData)
    .then(function(result) {
      data = JSON.parse(result)
      //alert(data['success']);
	  fire_alert('success','刪除作業成功',data['success'],5000) 
	   return data['redirect']

      
        })
    .then(function(result) {
      //gotopage(1);
	  
	  	var timeoutID = window.setTimeout((function(result) {
		window.location = result
		//alert('result:'+result)
		}),5000,result);
	  //return data['redirect']
      
      
        })
    .catch((error) => {
      fire_alert('danger','刪除作業失敗',error,5000)
    })    
    ;

}

// 返回promise,執行ajax呼叫
function ajax(url, method, data) {
  return new Promise(function(resolve, reject) {
    
    var request = new XMLHttpRequest();
    
    request.addEventListener("load", transferComplete);
    request.addEventListener("error", transferFailed);
    request.addEventListener("abort", transferCanceled);

    request.onerror = function() {
      reject(new Error("Network Error"));
    };
    
    function transferComplete(evt) {
        data = JSON.parse(this.response)
        if (data['success']) {resolve(this.response);}
        else {reject(new Error(data['error']));}

      //console.log("The transfer is complete."+this.response);
    }

    function transferFailed(evt) {
      console.log("An error occurred while transferring the file.");
      reject(new Error("Network Error"));
    }

    function transferCanceled(evt) {
      console.log("The transfer has been canceled by the user.");
    }
    
    request.open(method, url, true);
    request.send(data);
  });
}


</script>
{%endblock%}