              {%if current_user.is_authenticated-%}
              <li class="dropdown dropdown-user nav-item">
                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                  <div class="avatar avatar-online">
                  {%if current_user.photo-%}
                  <img src="/captain/get_photo/{{current_user.id}}" alt="avatar">
                  {%else-%}
                  <img src="/captain/statics/images/portrait/small/default-user.png" alt="avatar">
                  {%endif-%}
                  <i></i>
                  </div>
                  <span class="user-name">{{current_user.name}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="/captain/account-setting"><i class="feather icon-user"></i>帳戶設定</a>
                  <!--<a class="dropdown-item" href="app-email.html"><i class="feather icon-mail"></i> My Inbox</a>
                  <a class="dropdown-item" href="user-cards.html"><i class="feather icon-check-square"></i> Task</a>
                  <a class="dropdown-item" href="app-chat.html"><i class="feather icon-message-square"></i> Chats</a>-->
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="/auth/logout"><i class="feather icon-power"></i>登出</a>
                </div>
              </li>
              {%endif-%}