{% extends 'postbase.html' %}

{% block content %}
    <form method="post" action="">
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
		{% for field in form%}
        <div>
            {{ field.label }}
            {{ field }}
        </div>
		{%endfor%}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div>
            <input type="submit"  />
        </div>
    </form>
{% endblock %}