{% extends "captain/layout.html" %}
{%block css%} 
    <link rel="stylesheet" type="text/css" href="/captain/statics/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="/captain/statics/vendors/css/forms/icheck/custom.css">
    <link rel="stylesheet" type="text/css" href="/captain/statics/css/pages/page-users.min.css">
	<link rel="stylesheet" type="text/css" href="/captain/statics/css/plugins/forms/checkboxes-radios.min.css">
    <style>
    .errmessages {color:#ff7588;}
    .errmessages li{list-style-type: disc;}

	</style>
{%endblock%}
{% block content %}
    <div class="app-content container center-layout mt-2">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
          
        </div>
        <div class="content-body">
		<section id="horizontal-form-layouts">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title" id="horz-layout-icons"><span class="under_line-red">{{update_type}}</span></h4>
							<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements"><!--
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
									<li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
									<li><a data-action="close"><i class="feather icon-x"></i></a></li>
								</ul>-->
							</div>
						</div>
						<div class="card-content collpase show">
							<div class="card-body">
								<div class="card-text">
									<p></p>
								</div>
								<form class="form form-horizontal" method="post" action="">
									<div class="form-body">
										{% for field in form%}<!--id:{{field.id}}-->
										{%if field.type != 'CSRFTokenField'-%}
										{%if field.type != 'RadioField' and field.type != 'MultiCheckboxField' and field.type != 'SelectCheckboxField'-%}
										<div class="form-group row">
											<label class="col-md-3 label-control" for="{{field.id}}">{{ field.label.text }}</label>
											<div class="col-md-9">
											{{ field }}
                                        <ul class="errmessages d-none" id='err_{{field.id}}'>
                                        
                                        </ul>
											</div>
										</div>
										{%elif field.type == 'SelectCheckboxField' or field.type == 'RadioField'-%}
										
		                    	<div class="form-group row">
	                        		<label class="col-md-3 label-control">{{field.label.text}}</label>
	                        		<div class="col-md-9">
										<div class="input-group skin skin-flat">
										{% for subfield in field %}
											<div class="d-inline-block custom-control custom-radio mr-1">
												<input type="radio" name="{{subfield.name}}" id="{{subfield.id}}" 
												value="{{subfield.data}}" {%if field.data==subfield.data or field.default ==subfield.data%}checked{%endif%}>
												<label for="{{subfield.id}}">{{subfield.label.text}}</label>
											</div>{% endfor -%}
										</div>
                                        <ul class="errmessages d-none" id='err_{{field.id}}'>
                                        
                                        </ul>
									</div>
                                    
		                        </div>	

								        {%elif field.type == 'MultiCheckboxField'-%}
		                    	<div class="form-group row">
	                        		<label class="col-md-3 label-control">{{field.label.text}}</label>
	                        		<div class="col-md-9">
										<div class="row skin skin-line">
										{% for subfield in field %}
											<div class="col-md-6 col-sm-12 custom-control custom-radio mr-1">
											<fieldset>
												<input type="checkbox" name="{{subfield.name}}" id="{{subfield.id}}" 
												value="{{subfield.data}}" {%if subfield.data in field.data%}checked{%endif%}>
												<label for="{{subfield.id}}">{{subfield.label.text}}</label>
												</fieldset>
											</div>{% endfor -%}
										</div>
                                        <ul class="errmessages d-none" id='err_{{field.id}}'>
                                        
                                        </ul>
									</div>
		                        </div>											  
										{%endif-%}
										{%endif-%}
										{%endfor-%}
										{{ form.csrf_token }}

									<div class="form-actions right">
										<button type="button" class="btn btn-warning mr-1" onclick="javascript:window.history.go(-1);">
											<i class="feather icon-x"></i> 取消
										</button>
										<button type="submit" class="btn btn-primary">
											<i class="fa fa-check-square-o"></i> 儲存
										</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>


            </section>
        <!-- users list ends -->

        </div>

    </div></div>

{% endblock %}    
{%block js%} 

    <script src="/captain/statics/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="/captain/statics/js/scripts/forms/checkbox-radio.min.js?v=3"></script>
	
<script src="/captain/statics/js/ckeditor.js?v=3"></script>
<script>

    var ckeditor = document.querySelectorAll("textarea[class=editor]");
    //alert(ckeditor.length);
    
    $(window).on("load", function(){
      // Handler when all assets (including images) are loaded
      if (ckeditor.length) {init_ckeditor()}
      show_form_error();
    });    
    
    
    function init_ckeditor() {
        ClassicEditor.create( document.querySelector( '#editor' ) )
            .then( editor => {
                window.editor = editor;
            } )
            .catch( error => {
                console.error( 'There was a problem initializing the editor.', error );
            } );
            
        //editor.getData()  
        //for image test : https://cdn.pixabay.com/photo/2015/09/16/08/55/online-942406_640.jpg
    }

    function addClsToEle(ele,cls) {
      var element = document.getElementById(ele);
      element.classList.add(cls);
    }

    function removeClsToEle(ele,cls) {
      var element = document.getElementById(ele);
      element.classList.remove(cls);
    }
    
    function createErrorSpan(eleId,errorMessage) {
        // Create a new element
        var newNode = document.createElement('span');
        // add the class to the 'spam'
        newNode.innerHTML = errorMessage;
        newNode.setAttribute('class', 'error invalid-feedback');
        // Get the parent node
        var parentNode = document.getElementById(eleId).parentElement
        //var parentNode = document.querySelector('#some-element');
        // Insert the new node after the last element in the parent node
        parentNode.append(newNode);    
    }
    
    function show_form_error() {
        var error = []
        {% for field in form if field.id != 'csrf_token' and field.type !='HiddenField'-%}
            {% if field.errors %}
            let {{field.id}}=[]
            //error extraClass:{{field.id}}
            addClsToEle('{{field.id}}','is-invalid')
            removeClsToEle('err_{{field.id}}','d-none')

            {% for err in field.errors %}
            {{field.id}}.push('{{err}}')
            //createErrorSpan('{{field.id}}','{{error}}')
            var err_{{field.id}} = document.querySelector("#err_{{field.id}}");
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode('{{err}}'));
            err_{{field.id}}.appendChild(entry);
            {% endfor -%}
            error.push({'{{field.id}}':{'type':'{{field.type}}','error':{{field.id}}}})
            {% endif -%}
        {%endfor-%}
        console.log(error)
        //flash messages
        /*
        {% with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages -%}
                {% for category, message in messages %}
            toastr['{{category}}']('{{message}}');
                {% endfor -%}
            {% endif -%}
        {% endwith -%}
        */
   }
   
</script>          
{%endblock%}