/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

body ,.header-navbar {
font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI";
font-size: 16px;
}
.form-control {
	font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI";
	/*font-size: 15px;*/
}
	
.btn {
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  margin-right:10px;
  cursor: pointer;
}

/*下底線紅色*/
.under_line-red {
 font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI";
 padding-bottom: 3px;
 border-bottom: 1px solid #e56c69;
 font-style:oblique;
 letter-spacing: 2px;
}
a,a:hover,.page-link,.page-link:hover {
    color: #e56c69;
    }

.page-item.active .page-link {
    background-color: #e56c69;
    border-color: #e56c69;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.horizontal-menu .navbar-light ul#main-menu-navigation>li.active>a{border-bottom:2px solid #e56c69;background:#FFF}
html body .pace .pace-progress {
    background: #e56c69;
}