{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/ui/trumbowyg.min.css" 
    integrity="sha256-gGT+1paaAYq1+9QOclw7eVo/EqQo9ZNdwJqkTTOa/Gs=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-resizable@1.0.6/resizable.css">    
{% endblock %}
{% block content %}
<h1>Classic editor</h1>
    <div id="trumbowyg-demo">
        <p>This is some sample content.</p>
    </div>

{% endblock %}

{%block js%}
<script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/master/dist/jquery-resizable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/trumbowyg.min.js" 
    integrity="sha256-k9d+7gWV4pns3x0Hs76qp+QR7eazU5UTWVNU6w3YN8I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/langs/zh_tw.min.js" 
    integrity="sha256-z1oMXdf2PYEMUIf2LPM2Ftg5KfSxxEqi44UYNtOZsKQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/resizimg/trumbowyg.resizimg.min.js" integrity="sha256-N5wnjV2azQcOfb5KZWhLf3Xxt+tSYBf933qlEFxtklg=" crossorigin="anonymous"></script>
<script>
$('#trumbowyg-demo').trumbowyg({

    autogrow: true,
    plugins: {
        resizimg: {
            minSize: 64,
            step: 16,
        }
    }
});
</script>
{% endblock %}