{% extends "layout.html" %}
{% block content %}

          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{formName}}</h3>
                {%if id-%}
                <div class="float-right"><a href="/admin/delete/{{menu}}/{{model}}/{{id}}">刪除此筆</a></div>{%endif-%}
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form method="POST" action="{{formaction}}">
                {% for row in layout%}
                    {%for field in row%}
                    {% if (loop.index % ((row|length)|int) ==1) or (row|length)|int ==1 -%}
                    <div class="row">
                    {%endif-%}
                      <div class="col-sm-{{(12/row|length)|int|string}}">
                        <div class="form-group">
                        {%if form[field].type=='BooleanField'-%}
                          {{ form[field].label }}
                           <div class="form-check">
                          {{ form[field] }}
                          <!--{{ form[field].label }}-->
                           </div>
                        {%else-%}
                          {{ form[field].label }}
                          {{ form[field] }}
                        {%endif-%}

                        </div>
                      </div>
                    {% if loop.index % ((row|length)|int) ==0 or loop.last -%}</div>{%endif%}                        
                    {%endfor%}
                {%endfor%}

                  <div class="row">
                    <div class="col-sm-6">
                        {% for field in form if field.id == 'csrf_token' or field.type =='HiddenField'%}{{ field }}{% endfor %}
                        <div class="form-group">
                        {{form.submit}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <!-- empty -->
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
{% endblock %}  
{% block js%}
<script>
    function addClsToEle(ele,cls) {
      var element = document.getElementById(ele);
      element.classList.add(cls);
    }
    
    function createErrorSpan(eleId,errorMessage) {
        // Create a new element
        var newNode = document.createElement('span');
        // add the class to the 'spam'
        newNode.innerHTML = errorMessage;
        newNode.setAttribute('class', 'error invalid-feedback');
        // Get the parent node
        var parentNode = document.getElementById(eleId).parentElement
        //var parentNode = document.querySelector('#some-element');
        // Insert the new node after the last element in the parent node
        parentNode.append(newNode);    
    }
    
{% for field in form if field.id != 'csrf_token' and field.type !='HiddenField' and field.type != 'SubmitField' -%}
    {% if field.errors %}
    //error extraClass:{{field.id}}
    addClsToEle('{{field.id}}','is-invalid')
        {% for error in field.errors %}
    createErrorSpan('{{field.id}}','{{error}}')
        {% endfor -%}
    {% endif -%}
{%endfor-%}

//flash messages
{% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
        {% for category, message in messages %}
    toastr['{{category}}']('{{message}}');
        {% endfor -%}
    {% endif -%}
{% endwith -%}
   
   
</script>          
{% endblock %}          