<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>



  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      //testAPI(response);  
      var accessToken = response.authResponse.accessToken;
      let userId = response.authResponse.userID;
      //console.log('login'+accessToken);
      getUserInfo(userId,accessToken);
      
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }
  
  function login() {

    FB.login(function(response) {
      if (response.status === 'connected') {
        // Logged into your webpage and Facebook.
        getUserInfo(userId,accessToken);
      } else {
        // The person is not logged into your webpage or we are unable to tell. 
        alert('login failed!!');
      }
    });
    }

  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '3047683778598908',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v7.0'           // Use this Graph API version for this call.
    });

    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };
  
   
 
   function fb_logout() {
        FB.logout(function(response) {
        // user is now logged out
        console.log(response);
        });
    }

  function testAPI(response) {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... '+response.authResponse.signedRequest.email);
    FB.api('/me', function(response) {
      console.log('Successful login foraaa: ' + response.signedRequest );
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.signedRequest  + '!';
    });
  }

function getUserInfo(userId,accessToken) {
    // body...
    FB.api(
      '/'+userId+'/?fields=email,id,name',
      'GET',
      {},
      function(response) {
        // Insert your code here
        //console.log(response);
        let id = response.id;
        let name = response.name;
        let email = response.email;
        console.log('id:'+id+',name:'+name+',email:'+email)
        //loginViaEmail(email);
      }
    );
  }
  

</script>


<!-- The JS SDK Login Button -->

<div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" data-width=""></div>

<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>